.App {
	text-align: center;
}

.movies-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.users-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.members-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.movie {
	border: 2px solid black;
	border-radius: 10px;
	background-color: azure;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 500px;
	height: 300px;
	margin: 20px;
	padding: 25px;
}

.user {
	border: 2px solid black;
	border-radius: 10px;
	background-color: azure;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 500px;
	height: 300px;
	margin: 20px;
}

.managment-btns {
	background-color: white;
	color: black;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.repeater-btns {
	background-color: transparent;
	color: black;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.nav-bar-links {
	background-color: transparent;
	color: black;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.member {
	border: 2px solid black;
	border-radius: 10px;
	background-color: azure;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 500px;
	height: 300px;
	margin: 20px;
}

.paginationBttns {
	width: 80%;
	height: 40px;
	list-style: none;
	display: flex;
	justify-content: center;
}

.paginationBttns a {
	padding: 10px;
	margin: 8px;
	border-radius: 5px;
	border: 1px solid azure;
	color: azure;
	cursor: pointer;
}

.paginationBttns a:hover {
	color: black;
	background-color: azure;
}

.paginationActive a {
	color: black;
	background-color: azure;
}

.paginationDisabled a {
	color: grey;
	background-color: grey;
}

.navigationBtn {
	margin-left: auto;
	margin-right: auto;
}

.pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
